<!DOCTYPE html>
<html>
<head>
  <title>Heli Air</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="usuario_nav">
      <% if current_user %>
        Inciaste Sesión como <%= current_user.email %>.
        <%= link_to "Cerrar Sesión", logout_path %>
        <%= link_to "Usuarios Registrados", usuarios_path %>
      <% else %>
        <%= link_to "Registrarse", signup_path %> o
        <%= link_to "Ingresar", login_path %>.
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
